__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/

# Ignore PDF Journals
Downloaded Journal/

# Ignore heavy Geospatial Rasters and Archives
Geospatial/**/*.tif
Geospatial/**/*.zip

# Ignore QGIS Rasters and heavy Shapefiles
QGIS/*.tif
QGIS/*.xml
QGIS/Nigeria Adminstrative/